user www-data;
worker_processes {{ facter_processorcount }};
pid /run/nginx.pid;

events {
    worker_connections 768;
}

http {
    server_tokens off;
    sendfile off;
    tcp_nopush on;
    tcp_nodelay on;
    keepalive_timeout 10;
    types_hash_max_size 2048;

    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    log_format custom '$remote_addr | $time_iso8601 | '
                      '"$request" | $status | $body_bytes_sent | ${request_time} | '
                      '"$http_referer" | "$http_user_agent"';

    access_log /var/log/nginx/access.log custom;
    error_log /var/log/nginx/error.log;

    gzip on;
    gzip_disable "msie6";

    proxy_buffer_size 32768k;
    proxy_buffers   8 32768k;
    proxy_busy_buffers_size 32768k;
    proxy_connect_timeout      300;
    proxy_read_timeout         300;

{% if nginx.variables is defined %}
{% for variable in nginx.variables %}
    {{ variable.name }} {% if variable.value is defined %}{{ variable.value }}{% endif %};
{% endfor %}
{% endif %}

    include /etc/nginx/conf.d/*.conf;
    include /etc/nginx/sites-enabled/*;
}
